@import 'src/styles/variables';

.home-page-container {
  height: 100%;
  background-color: $background-color;
  text-align: center;
  overflow-y: scroll;
  &--only-text {
    display: flex;
    align-items: center;
  }
}
