$primary-color: #6d88cd;
$secondary-color: #c3c4ff;
$gray: #6e6e6e;
$background-color: #eeeeee;

////////////////////////////////
// Global spacing //////////////
////////////////////////////////
$global-top-gutter: 30px;
