@import 'src/styles/variables';

.create-property-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  &__title {
    padding-top: $global-top-gutter;
  }

  &__create-property-form {
    &__btn {
      margin-top: 20px;
    }
  }

  form {
    padding: 1rem;
  }
}
