@import 'src/styles/variables';

.MuiBottomNavigation-root.app-bar-container {
  background-color: $gray;
}

.MuiButtonBase-root.MuiBottomNavigationAction-root.Mui-selected {
  color: $secondary-color;
}

.MuiButtonBase-root.MuiBottomNavigationAction-root.add-icon-container {
  color: $primary-color;
  background-color: $background-color;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;

  .MuiSvgIcon-root {
    font-size: 3rem;
  }
}
